<div class="row">
    <div class="col-md-8 history-card ">
        <div>
            <i class="glyphicon glyphicon-flag history-card-top-icon" aria-hidden="true"></i>
        </div>
        <div class="history-card-div-icon ">
            <i class="glyphicon glyphicon-bookmark history-card-icon history-i" aria-hidden="true"></i>
        </div>
        <div class="history-card-content">
            <div class="history-card-title history-card-content-text">
                <p>{{title}}</p>
            </div>
            <div class="history-card-message history-card-content-text">
                <p>{{message}}</p>
            </div>
        </div>
       
    </div>
</div>
<!--
<div class="row">
    <div class="col-md-8 history-card ">
        <div class="history-card-div-icon ">
            <i class="glyphicon glyphicon-warning-sign history-card-icon history-i" aria-hidden="true"></i>
        </div>
        <div class="history-card-content">
            <div class="history-card-title history-card-content-text">
                <p>{{title}}</p>
            </div>
            <div class="history-card-message history-card-content-text">
                <p>{{message}}</p>
            </div>
        </div>
        
    </div>
</div>
<div class="row">
    <div class="col-md-8 history-card ">
        <div class="history-card-div-icon ">
            <i class="glyphicon glyphicon-trash history-card-icon history-i" aria-hidden="true"></i>
        </div>
        <div class="history-card-content">
            <div class="history-card-title history-card-content-text">
                <p>{{title}}</p>
            </div>
            <div class="history-card-message history-card-content-text">
                <p>{{message}}</p>
            </div>
        </div>
        
    </div>
</div>
<div class="row">
    <div class="col-md-8 history-card ">
        <div class="history-card-div-icon ">
            <i class="glyphicon glyphicon-ok history-card-icon history-i" aria-hidden="true"></i>
        </div>
        <div class="history-card-content">
            <div class="history-card-title history-card-content-text">
                <p>{{title}}</p>
            </div>
            <div class="history-card-message history-card-content-text">
                <p>{{message}}</p>
            </div>
        </div>
        <div>
            <i class="glyphicon glyphicon-home history-card-top-botton" aria-hidden="true"></i>
        </div>
    </div>
</div>
-->
<div>
    <history-card></history-card>
</div>