<div class="row">
    <div class="col-md-8 history-card ">
        <div *ngIf="first">
            <i class="glyphicon glyphicon-flag history-card-top-icon" aria-hidden="true"></i>
        </div>
        <div class="history-card-div-icon ">
            <i class="glyphicon history-card-icon history-i" 
            [ngClass]=" getActionIcon()" aria-hidden="true"></i>
        </div>
        <div class="history-card-content">
            <div class="history-card-title history-card-content-text">
                <p>{{historyCard.title}}</p>
            </div>
            <div class="history-card-message history-card-content-text">
                <p>{{historyCard.message}}</p>
            </div>
        </div>
        <div *ngIf="last" class="history-card-div-bottom">
            <i class="glyphicon glyphicon-home history-card-botton-icon" aria-hidden="true"></i>
        </div>
    </div>
</div>