<div class="row">
    <div class=" history-time-line-position history-min-height">
        
    </div>
    <div class="col-md-1" style="background-color: white">
         <i class="glyphicon glyphicon-bookmark" aria-hidden="true"></i>
    </div>
    <div class="col-md-8 history-card margin-zero">
        <div>
            <div class="history-card-title">
                <p>{{title}}</p>
            </div>
            <div class="history-card-message">
                <p>{{message}}</p>
            </div>
        <div>
    </div>
</div>