<div class="row">
    <div class="col-md-2">
        <img (click)="getNewImage()" src="{{imgPath}}" cclass="rounded float-left" alt="" style="max-height: 250px; max-width:150px">
    </div>
    <div class="col-md-10">
        <h3>Hi!</h3>
        <p>My name is Gabriel Scavassa and I am a Developer and Scrum master.</p>
        <p>This is my first full Angular 2 app. It's a small study case I made after watch Mosh course at Udemy! I am tring
            to apply the concepts he teach on the course and also, make some fun stuffs!
        </p>
        <p>
            As you can see, I am not a good webdesigner :D But I like to try to make beautful visual apps - even failling -
        </p>
        <p>
            Well, that Sr at left is me, if you click at pic you can get some other nice pictures.
        </p>
        <p> 
            So its a study, dont judge me. If you want to get in touch, email me gabriel.scavassa@outlook.com ! I know it's a outlook account --'.
            See ya!
        </p>
    </div>
</div>