.row-padding{
    margin-top: 10px;
    margin-bottom: 10px;
}
tr { background-color: white }

tr:hover td { background-color: lightblue }

.loading-background {
    background: gray;
    opacity: 0.5;
    position: absolute; 
    top: 0;
    right: 0;    
    bottom: 0;   
    left: 0; 
}

.block_container {
    display: flex;
    justify-content: center;
}
.loading-icon{
    height: 100%; 
    margin-top: 30%; 
    margin-left: 50%
}

.history-time-line-position{
    position: absolute;
    text-align: center;
    width: 1%;
    border-left: thick solid gray;
    height: 100%;
}

.history-card{
    margin-left: 3%;
    border-left: solid 3px lightgray;
    padding: 0%;
    margin: 0%;
}

.history-card-div-icon{
    float: left;
    display: inherit;
    padding-top: 4%;
    padding-left: 0%;
}
.history-card-icon{
    margin-left: -12px;
    font-size: 20px;
}
.history-card-linking-icon{
    margin-left: -10px;
    font-size: 20px;
    position: inherit;
}
.history-card-top-icon{
    margin-left: -4px;
    font-size: 25px;
}
.history-card-top-botton{
    margin-left: -15px;
    font-size: 25px;
}
.history-card-content{
    padding-left: 2%;
    border: solid 1px lightgrey;
    margin-left: 12px;
    padding-right: 9px;
}
.history-card-content-text{
    background-color: lightgray;
    padding-top: 1%;
    padding-left: 1%;
}

.history-card-title{
    border-bottom: solid 1px gray;
    color: black;
    font-size: 20; 
    margin-top: 2%;
    opacity: 0.9; 
}

.history-card-message{
    min-height: 85px;
    margin-top: 3%;
    background-color: lightgray;
    opacity: 0.9; 
}


