<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of posts ; let i = index" (click)="router.navigate(['posts', item.id])">
                <td scope="row">{{i + 1}}</td>
                <td>{{item.title}}</td>
                <td>{{item.userName}}</td>
            </tr>
        </tbody>
    </table>
</div>